# IDEA files
*.iml
*.ipr
*.iws
.idea/

# Maven folders
.surefire*
/maven_local_repo
target/
temp/
tmp/
generated-sources

# Package Files #
*.jar
*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
